@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Montserrat", "sans-serif";
    --color-black: #010101;
    --color-go-cyan-1: #07DDDA;
    --color-go-cyan-2: #33FFF3;
    --color-go-cyan-3: #98E0FF;
    --color-go-cyan-4: #19B2A7;
    --color-go-blue-1: #004CBA;
    --color-go-blue-2: #96BFFD;
    --color-go-yellow-1: #FDD196;
    --color-go-purple-1: #9747FF;
    --color-go-green-1: #33FF85;
    --color-go-pink-1: #FF3366;
    --color-go-gray-1: #CCC;
    --color-go-gray-2: #B4B4B4;
    --color-go-gray-3: #6F7176;
    --color-go-white-2: #F5F5F5;
}


